.flexbox-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexbox-col {
    display: flex;
    flex-direction: column;
}
.playingGif {
    top: 15%;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: auto;
}

.playingTextBox{
    background-color: #339933;
    border-radius: 10px;
    width: 30%;
    margin-top: 30px;
    height: 10%;
    text-align: center;
    padding: 10px;
    
}
p.playingText {
    font: 15px arial, sans-serif;
    color: white;
    
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 50px;
    color:white;
    line-height: 100px;
    text-align: center;
    float: right;
}

.swing {
    background-color: #339933;
    border-radius: 10px;
    width: 30%;
    margin-top: 30px;
    height: 10%;
    text-align: center;
    padding: 10px;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    font: 15px arial, sans-serif;
    color: white;
    animation-iteration-count: infinite;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

